@{
    ViewData["Title"] = "Approvals";
}

<h2>Pending Claims for Approval</h2>

<table class="table table-striped">
    <thead>
        <tr> 
            @*The headings for each coloumn of the table*@
            <th>Lecturer Name</th>
            <th>Programme</th>
            <th>Claim Amount</th>
            <th>Date Submitted</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr> 
            @*Adding sample data to showcase the layout of the table in the Approvals page*@
            <td>John Doe</td>
            <td>PROG6212</td>
            <td>R 500.00</td>
            <td>01-09-2024</td>
            <td>
                <a class="btn btn-info btn-sm">View Details</a>
                <a class="btn btn-success btn-sm">Approve</a>
                <a class="btn btn-danger btn-sm">Reject</a>
            </td>
    </tbody>
</table>
