@{
    ViewData["Title"] = "My Claims";
}

<h2>My Claims</h2>

<table class="table table-striped">
    <thead>
        <tr>
            @*The headings for each coloumn of the table*@
            <th>Claim Date</th>
            <th>Programme</th>
            <th>Claim Amount</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @*Adding sample data to showcase the layout of the table in the MyClaims page*@
            <td>01-09-2024</td>
            <td>PROG6212</td>
            <td>R 500.00</td>
            <td>Pending</td>
            <td>
                <a class="btn btn-info btn-sm">View Details</a>
                <a class="btn btn-warning btn-sm">Edit</a>
                <a class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
