@{
    ViewData["Title"] = "Submit Claim";
}

<h2>Submit New Claim</h2>

@*Form for inputting claim details*@

<form asp-controller="Home" asp-action="MyClaims" enctype="multipart/form-data">
    <div class="form-group">
        @*Form field for capturing the date of the claim*@
        <label for="LecturerName">Lecturer Name</label>
        <input type="text" class="form-control" id="LecturerName" name="LecturerName" required />
    </div>
    <div class="form-group">
        @*Form field for capturing the date of the claim*@
        <label for="LecturerSurname">Lecturer Surname</label>
        <input type="text" class="form-control" id="LecturerSurname" name="LecturerSurname" required />
    </div>
    <div class="form-group">
        @*Form field for capturing the Programme the claim belongs to*@
        <label for="Programme">Programme</label>
        <input type="text" class="form-control" id="Programme" name="Programme" required />
    </div>
    <div class="form-group">
        <label for="HoursWorked">Hours Worked</label>
        <input type="number" class="form-control" id="HoursWorked" name="HoursWorked" min="1" required />
    </div>
    <div class="form-group">
        <label for="HourlyRate">Hourly Rate</label>
        <input type="number" class="form-control" id="HourlyRate" name="HourlyRate" min="1" required />
    </div>
    <div class="form-group">
        <label for="Notes">Additional Notes</label>
        <textarea class="form-control" id="Notes" name="Notes"></textarea>
    </div>
    <div class="form-group"> 
        @*Form field for capturing the date of the claim*@
        <label for="ClaimDate">Claim Date</label>
        <input type="date" class="form-control" id="ClaimDate" name="ClaimDate" required />
    </div>
    <div class="form-group">
        @*Form field for capturing the any supporting file documents related to the claim*@
        <label for="SupportingDocuments">Upload Supporting Documents</label>
        <input type="file" class="form-control-file" id="SupportingDocuments" name="SupportingDocuments" multiple />
    </div>
    <button type="submit" class="btn btn-primary">Submit Claim</button>
    <a href="/" class="btn btn-secondary">Cancel</a>
</form>
